<form class="new-answer-form">
  <div class="form-group">
    <label>Add Answers</label>
    <input type="text" class="form-control answer-input" placeholder="Answer">
  </div>

  <div class="form-group">
    <div class="btn-group">
      <button type="reset" class="btn btn-default remove-answer"><i class="fa fa-minus"></i></button>
      <button type="button" class="btn btn-primary add-answer"><i class="fa fa-plus"></i></button>
    </div>
  </div>

  <div class="form-group">
    <select multiple class="form-control new-answers">
    </select>
  </div>

  <div class="form-group">
    <span class="pull-right">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary submit-answer-new-question">Add Question</button>
      <button type="submit" class="btn btn-primary submit-answer-data">Complete Poll</button>
    </span>
  </div>
</form>
