
  <form>
    <% answers.forEach(function(answer) { %>
      <div class="radio">
        <label><%= answer.escape('text') %>
          <input type="radio" name="response[answer_id]" value="<%= answer.id %>">
        </label>
      </div>
    <% }); %>
  </form>
