<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tr>
      <thead>
        <th>Answer</th>
        <th>text</th>
        <th>Created at</th>
      </thead>
    </tr>
    <% if (answers) { %>
    <% answers.forEach(function(answer) { %>
    <tr>
      <td>
        <a class="show-answer" href="#" data-id="<%= answer.id %>"><%= answer.escape('text') %></a>
      </td>
      <td>
      </td>
      <td>
        <%= answer.escape('created_at') %>
      </td>
    </tr>
    <% }); %>
    <% }; %>
  </table>
</div>
