<div class="row">
  <div class="col-xs-12">
    <h2 class="heading-inverse section-title">Create</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="errors"></div>
  </div>
</div>
<div class="row">
  <form id="poll-form">
    <div class="col-xs-12">
      <textarea id="poll-text" name="poll[text]" type="text" rows="4" class="form-control" placeholder="Ask a question (multiple choice)"></textarea>
      <input type="hidden" name="poll[privacy]" value="1" id="poll-privacy">
      <input type="hidden" name="poll[format]" value="1" id="poll-format">
      <input type="hidden" name="poll[chart]" value="1" id="poll-chart">
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-selector btn-selected btn-format" data-format="1">Multiple Choice</button>
      <button type="button" class="btn btn-selector btn-format" data-format="2">Word Cloud</button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-selector btn-selected btn-chart" data-chart="1"><i class="fa fa-fw fa-pie-chart"></i></button>
      <button type="button" class="btn btn-selector btn-chart" data-chart="2"><i class="fa fa-fw fa-bar-chart"></i></button>
      <button type="button" class="btn btn-selector btn-chart" data-chart="3"><i class="fa fa-fw fa-line-chart"></i></button>
      <button type="button" class="btn btn-selector btn-chart" data-chart="4"><i class="fa fa-fw fa-area-chart"></i></button>
    </div>
    <div class="col-xs-12">
      <button type="button" class="btn btn-uniq-inverse pull-right" id="submit-poll-form">Next</button>
    </div>
  </form>
  <form id="multiple-choice-form" class="form-collapsed">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="form-control" id="answer-text" placeholder="Add an answer...">
        </div>
        <div class="col-xs-4 col-xs-offset-8">
          <button type="button" class="btn btn-std-inverse add-answer">Add</button>
        </div>
      </div>
      <div class="answer-select">
      </div>
      <div class="col-xs-12">
        <button type="button" class="btn btn-uniq-inverse pull-right" id="submit-create-poll">Submit</button>
      </div>
    </div>
  </form>
</div>
