<div class="row">
  <div class="col-sm-12">
    <h4><i></i> <span id="poll-title">New Poll</span></h4>
  </div>
</div>

<div class="row" id="poll-form-poll">
  <div class="col-sm-12">
    <form class="new-poll-form">
      <div class="form-group">
        <label>Title</label>
        <input id="poll-input-title" name="poll[title]" type="text" class="form-control" placeholder="Title">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea name="poll[text]" class="form-control" rows="3" placeholder="Description"></textarea>
      </div>

      <div class="form-group">
        <label class="radio-inline">
          <input name="poll[privacy]" type="radio" value="1" checked=""> Public
        </label>
        <label class="radio-inline">
          <input name="poll[privacy]" type="radio" value="2"> Private
        </label>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary submit-poll-data">Next</button>
      </div>
    </form>
  </div>
</div>

<div class="row" id="poll-form-questions">
</div>

<div class="row" id="poll-form-answers">
</div>
