<div class="row">
    <div class="col-xs-12">
        <h3>Make a new poll</h3>
    </div>
    <form id="poll-form">
        <div class="col-xs-12">
            <textarea id="poll-text" name="poll[text]" type="text" rows="5" class="form-class form-control" placeholder="Ask a question (multiple choice)"></textarea>
            <input type="hidden" name="poll[format]" value="1" id="poll-format">
            <input type="hidden" name="poll[chart]" value="0" id="poll-chart">
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-6" id="format-buttons">
                    <button type="button" class="btn btn-selector btn-selected btn-format" data-format="1">Multiple Choice</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-selector btn-format" data-format="2">Word Cloud</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row" id="chart-buttons">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-selector btn-selected btn-chart" data-chart="1"><i class="fa fa-fw fa-lg fa-pie-chart"></i></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-selector btn-chart" data-chart="2"><i class="fa fa-fw fa-lg fa-bar-chart"></i></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-selector btn-chart" data-chart="3"><i class="fa fa-fw fa-lg fa-line-chart"></i></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-selector btn-chart" data-chart="4"><i class="fa fa-fw fa-lg fa-area-chart"></i></button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="button" class="btn btn-uniq pull-right" id="submit-poll-form">
                        <span class="next-button">Next</span><i class="fa fa-chevron-right fa-lg"></i></button>
                </div>
            </div>
        </div>
    </form>
    <form id="multiple-choice-form" class="form-collapsed">
        <div class="col-xs-12 poll-form-heading">
            <span class="preview-label">your poll:</span>
            <div class="new-poll-preview">
                <div class="new-poll-preview-question">
                </div>
                <div class="answer-select">
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <textarea class="form-class form-control" rows="4" id="answer-text" placeholder="Add an answer..."></textarea>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-std add-answer">
                <span class="add-button">Add Answer</span><i class="fa fa-plus fa-lg"></i></button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-uniq" id="submit-create-poll">
                <span class="next-button">Submit</span><i class="fa fa-check fa-lg"></i></button>
        </div>
    </form>
    <form id="open-ended-form" class="form-collapsed">
      <div class="col-xs-12 poll-form-heading">
          <span class="preview-label">Your Poll:</span>
          <div class="new-poll-preview">
              <div class="new-poll-preview-question">
              </div>
          </div>
      </div>
        <div class="col-xs-6">

        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-uniq pull-right" id="submit-create-poll">Submit</button>
        </div>
    </form>
</div>
