<div class="row">
  <div class="col-sm-12">
    <form id="poll-form">

      <div class="form-group">
        <label>Question: </label>
        <input name="poll[text]" type="text" class="form-control" placeholder="Question">
      </div>


      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="poll[chart]" value="1" checked="">Pie
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[chart]" value="2">Polar Area
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[chart]" value="3">Bar
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[chart]" value="4">Radar
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[chart]" value="5">Line
        </label>
      </div>

      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="poll[format]" value="1" checked=""> Multiple Choice
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[format]" value="2"> Open Ended
          <small>(Word Cloud/Text Wall)</small>
        </label>
        <label class="radio-inline">
          <input type="radio" name="poll[format]" value="3"> Perspective
          <small>(Clickable Image/Whiteboard)</small>
        </label>
      </div>

      <div class="form-group">
        <label class="radio-inline">
          <input name="poll[privacy]" type="radio" value="1" checked=""> Public
        </label>
        <label class="radio-inline">
          <input name="poll[privacy]" type="radio" value="2"> Private
        </label>
      </div>

    </form>

    <form id="answer-form">

      <div class="form-group">
        <label>Add Answers</label>
        <input type="text" class="form-control answer-input" placeholder="Answer">
      </div>

      <div class="form-group">
        <button type="reset" class="btn btn-default remove-answer"><i class="fa fa-minus"></i></button>
        <button type="button" class="btn btn-default add-answer"><i class="fa fa-plus"></i></button>
      </div>

      <div class="form-group">
        <select multiple class="form-control new-answers">
        </select>
      </div>
    </form>

    <div class="form-group">
      <button type="button" class="btn btn-default" id="submit-poll-form">Submit</button>
    </div>
  </div>
</div>
