<% polls.forEach(function(poll) { %>
  <a class="list-group-item select-poll" href="#" data-poll-id="<%= poll.id %>">
    <h3 class="list-group-item-heading">
      <%= poll.escape('text') %>
    </h3>
    <p class="list-group-item-text">by __ at <%= poll.escape('created_at') %></p>
  </a>
<% }); %>
