<% polls.forEach(function(poll) { %>
  <div class="row">
    <div class="col-xs-1">
      <button type="button" class=" btn btn-default select-poll" data-poll-id="<%= poll.id %>">o</button>
    </div>
    <div class="col-xs-11">
      <div class="row">
        <div class="col-xs-12">
          <h4>
            <%= poll.escape('text') %>
          </h4>
        </div>
        <div class="col-xs-12">
          <h6>
            <%= polls.user.fullName() %>
          </h6>
        </div>
      </div>
    </div>

  </div>
  <% }); %>
