<table class="table table-striped table-condensed table-hover">
  <tr>
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </tr>

  <% polls.forEach(function(poll) { %>
    <tr>
      <td>
        <%= poll.escape('text') %>
      </td>
      <td>
        <%= polls.user.fullName() %>
      </td>
      <td>
      </td>
      <td>
        <a href="#" class="select-poll" data-poll-id="<%= poll.id %>">Answer!</a>
      </td>
    </tr>
    <% }); %>
</table>
