<% polls.forEach(function(poll) { %>
  <a class="list-group-item select-poll" href="#" data-poll-id="<%= poll.id %>">
    <h4 class="heading-a">
      <%= poll.escape('text') %>
    </h4>
    <p>by __ at <%= poll.escape('created_at') %></p>
    <div class="row show-poll" data-poll-id="<%= poll.id %>">
    </div>
  </a>
<% }); %>
