<% polls.forEach(function(poll) { %>
  <div class="row">
    <div class="col-sm-12">
      <a href="#" class="select-poll" data-poll-id="<%= poll.id %>">
        <h5>
          <%= poll.escape('title') %>
        </h5>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <p>
        <%= poll.escape('text') %>
      </p>
    </div>
  </div>
<% }); %>
