<tr>
  <thead>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </thead>
</tr>
<% polls.forEach(function(poll) { %>
  <tr>
    <td>
      (updown vote)
    </td>
    <td>
      (format)
    </td>
    <td>
      (responses)
    </td>
    <td>
      <% var n = poll.escape('text'); if(n.length > 80){ n = n.slice(0, 50) + "..."; }; %>
        <%= n %>
    </td>
    <td>
      <%= polls.user.fullName() %>
    </td>
    <td>
      <a href="#" class="select-poll" data-poll-id="<%= poll.id %>">Go!</a>
    </td>
  </tr>
  <% }); %>
