<% polls.forEach(function(poll) { %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-10">
        <%= poll.escape('text') %>
          <small>
            <%= polls.user.fullName() %>
          </small>
      </div>
      <div class="col-xs-2">
        <div class="btn-group btn-group-justified">
          <button type="button" class="btn btn-default select-poll" data-poll-id="<%= poll.id %>"><i class="fa fa-fw fa-arrow-right"></i></button>
        </div>
      </div>
    </div>
  </li>
  <% }); %>
