<table class="table table-striped">
  <tr>
    <thead>
      <th>
      </th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
  </tr>

  <% polls.forEach(function(poll) { %>
    <tr>
      <td>
        <%= poll.escape('text') %>
      </td>
      <td>
        <%= polls.user.fullName() %>
      </td>
      <td>
        <%= poll.numResponses() %>
      </td>
      <td>
        <a href="#" class="select-poll" data-poll-id="<%= poll.id %>"><i class="Answer"></i></a>
      </td>
    </tr>
    <% }); %>
</table>
