  <ul class="list-group">
<% polls.forEach(function(poll) { %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading"><%= poll.escape('title') %></h4>
      <p class="list-group-item-text"><%= poll.escape('description') %></p>
    </li>

<% }); %>
  </ul>
