<% if(PollrBear.currentUser.isSignedIn()) { %>
  <section id="footer-content" class="footer-left-hide footer-right-show">
    <div id="footer-left">
      <div class="footer-side-content">
        <div id="idx-comments">

        </div>
      </div>
    </div>
    <div id="footer-right">
      <div class="footer-side-content">
        <form id="poll-form">
          <input type="text" name="poll[title]" id="poll-title">
          <input type="text" name="poll[description]" id="poll-title">
          <input type="hidden" name="poll[id]" id="poll-id" value="">
          <button class="btn btn-default submit-poll-form">submit</button>
        </form>
      </div>
    </div>
  </section>
<% }; %>
