<% if(PollrBear.currentUser.isSignedIn()) { %>


    <nav id="footer-nav">
      <button class="btn btn-default toggle-footer-left">l</button>
      <button class="btn btn-default toggle-footer-right">r</button>
      <button class="btn btn-default toggle-footer-up">u</button>
      <button class="btn btn-default toggle-footer-down">d</button>
    </nav>
    <section id="footer-content" class="footer-baseline footer-left">
    <div class="footer-inner" id="poll-form">
      
    </div>
    <div class="footer-inner">
      <div>
        <h4>Comments</h4>

      </div>

    </div>
  </section>

  <% } else { %>


    <% }; %>
