<% if(PollrBear.currentUser.isSignedIn()) { %>
  <div class="row nav-user">
    <div class="col-xs-12">
      <div class="nav-logo-wrap">
        <img class="nav-logo-img" src="/logo14.png">
      </div>
    </div>
  </div>
  <% } else { %>
    <div class="nav-guest">

    </div>
    <% }; %>
