<section id="splash">
  <div class="container">
    <div class="row splash-header">
      <div class="col-sm-12 col-md-8 splash-header-top">
      </div>
      <div class="col-sm-6 col-md-4">
        <form class="login-form">
          <div class="form-group">
            <input class="form-control" name="user[email]" type="text" placeholder="Email">
          </div>

          <div class="form-group">
            <input class="form-control" name="user[password]" type="password" placeholder="Password">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default pull-right">Submit</button>
            <a href="/auth/twitter" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
            <button type="button" class="btn btn-default">Guest</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center" id="splash-search">
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
