<div class="row" id="login-header">
  <div class="col-xs-12 login-header">
    <button type="button" class="btn">Sign up</button>
    <a href="/auth/twitter" class="btn" id="twitter-login"><i class="fa fa-twitter fa-fw"> </i>Login</a>
  </div>
</div>
</div>
<section id="splash" class="row">
    <div class="col-xs-10 xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 login-panel">
        <div class="row">
            <div class="col-xs-12">
                <div class="image-wrap">
                    <img src="/slice52x.png">
                </div>
            </div>
            <div class="col-xs-12">
                <h3>Login</h3>
            </div>
            <div class="col-xs-12">
                <form class="login-form">
                    <div class="form-wrap">
                        <label>Email</label>
                        <input class="form-class form-control" name="user[email]" type="text" placeholder="Email">
                    </div>
                    <div class="form-wrap">
                        <label>Password</label>
                        <input class="form-class form-control" name="user[password]" type="password" placeholder="Password">
                    </div>
                    <div class="button-wrap">
                        <button type="submit" class="btn btn-uniq btn-signin" id="standard-login">Submit</button>
                    </div>
                    <div class="divider-wrap">

                    </div>
                    <div class="button-wrap">
                        <button type="button" class="btn btn-std" id="guest-login">Guest Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="signup" class="row">
    <div class="col-xs-10 xs-offset-1 col-md-6 col-md-offset-3 login-panel">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="page-title">Register</h3>
            </div>
            <div class="col-xs-12">
                <form class="signup-form">
                    <div class="form-wrap">
                        <label>First</label>
                        <input class="form-class form-control" name="user[first_name]" type="text" placeholder="First">
                    </div>
                    <div class="form-wrap">
                        <label>Last</label>
                        <input class="form-class form-control" name="user[last_name]" type="text" placeholder="Last">
                    </div>
                    <div class="form-wrap">
                        <label>Email</label>
                        <input class="form-class form-control" name="user[email]" type="text" placeholder="Email">
                    </div>
                    <div class="form-wrap">
                        <label>Password</label>
                        <input class="form-class form-control" name="user[password]" type="password" placeholder="Password">
                    </div>
                    <div class="button-wrap">
                        <button type="submit" class="btn btn-std btn-signin" id="register-login">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
