<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-8">
      center
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="login-form">
            <div class="form-group">
              <label>First Name</label>
              <input class="form-control" name="user[first_name]" type="text" placeholder="First" value="<%= user.escape('first_name') %>">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input class="form-control" name="user[last_name]" type="text" placeholder="Last" value="<%= user.escape('last_name') %>">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input class="form-control" name="user[email]" type="text" placeholder="Email" value="<%= user.escape('email') %>">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" name="user[password]" type="password" placeholder="Password" value="<%= user.escape('password') %>">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-warning pull-right"><i class="fa fa-sign-in fa-fw"></i> Submit</button>
            </div>
            <div class="form-group">
              <a href="/auth/twitter" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
              <a href="#" class="btn btn-default"><i class="fa fa-github fa-fw"></i> Github</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
