
<div class="intro-header">
  <div class="container">
    <div class="row" id="splash">
      <div class="col-xs-12 col-lg-6">
        <img src="/toplogo.png" class="top-logo">
        <br>
        <img src="/splashlogo.png" class="top-logo">
      </div>
      <div class="col-xs-12 col-lg-6">
        <div id="login" class="panel panel-default">
          <div class="panel-body">
            <form>
              <div class="form-group">
                <h3>Login</h3>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-xs-2 control-label">First Name</label>
                <input class="form-control" name="user[first_name]" type="text" id="inputEmail" placeholder="First" value="<%= user.escape('first_name') %>">
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-xs-2 control-label">Last Name</label>
                <input class="form-control" name="user[last_name]" type="text" id="inputEmail" placeholder="Last" value="<%= user.escape('last_name') %>">
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-xs-2 control-label">Email</label>
                <input class="form-control" name="user[email]" type="text" id="inputEmail" placeholder="Email" value="<%= user.escape('email') %>">
              </div>
              <div class="form-group">
                <label for="inputPassword" class="col-xs-2 control-label">Password</label>
                  <input class="form-control" id="inputPassword" name="user[password]" type="password" placeholder="Password" value="<%= user.escape('password') %>">
              </div>
              <div class="form-group">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-warning pull-right"><i class="fa fa-sign-in fa-fw"></i> Submit</button>
              </div>
              <div class="form-group">
                <a href="/auth/twitter" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i>Twitter</a>
                <a href="#" class="btn btn-default"><i class="fa fa-github fa-fw"></i> Github</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix">
        </div>
        <h2 class="section-heading">blah blah
          <br> such and such</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
          quis, sem. </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive img-chart" src="/tab2.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">blah blah blah
          <br>such and such</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
          quis, sem. </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive img-chart" src="/tab4.png" alt="">
      </div>
    </div>

  </div>

</div>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix">
        </div>
        <h2 class="section-heading">blah blah
          <br> such and such</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
          quis, sem. . </p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive img-chart" src="/tab5.png" alt="">
      </div>
    </div>
  </div>
</div>
<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">blah blah blah
          <br>such and such</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium
          quis, sem. </p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive img-chart" src="/tab3.png" alt="">
      </div>
    </div>

  </div>

</div>
