<div class="row">
  <div class="col-xs-12 col-md-8">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"></h3>
      </div>
      <div id="main">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-7 col-md-12" id="new-poll">
      </div>
      <div class="col-xs-5 col-md-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">
              
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12">
                <a href="#" class="profile-img-wrap">
                  <img class="profile-img img-responsive" src="<%= user.get('profile_img') %>">
                </a>
              </div>
              <div class="col-xs-12">
                <div class="user-info">
                  <h4>
                    <%= user.fullName() %>
                  </h4>
                  <h5>
                    <%= user.escape('email') %>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
