<div class="row">
  <div id="user-header" class="col-xs-12">
    <h1>asdf</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-3" id="new-poll">
  </div>
  <div class="col-xs-12 col-md-4 col-lg-3" id="social-poll">
  </div>
  <div id="polls" class="col-xs-12 col-md-8 col-lg-6">
  </div>

  <div class="col-xs-12 col-md-4">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-3" id="trending">
        <h3>Trending</h3>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-3" id="user-info">
        <div>
          <img style="width: 200px; height: auto;" class="profile-img img-responsive" src="<%= user.get('profile_img') %>">
        </div>
        <div>
          <h4>
            <%= user.fullName() %>
          </h4>
          <h5>
            <%= user.escape('email') %>
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="row">
  <div id="user-footer" class="col-xs-12">
    <h1>asdf</h1>
  </div>
</div>
