<div class="col-xs-12 col-md-7 col-lg-8" id="left-side">
  <div id="main" class="row">
  </div>
</div>
<div class="col-xs-12 col-md-5 col-lg-4" id="right-side">
  <div class="row">
    <div class="col-xs-7 col-md-12" id="new-poll">
    </div>
    <div class="col-xs-5 col-md-12" id="user-info">
      <a href="#" class="profile-img">
        <img src="<%= user.get('profile_img') %>">
      </a>
      <h4>
        <%= user.fullName() %>
      </h4>
      <h5>
        <%= user.escape('email') %>
      </h5>
    </div>
  </div>
</div>
