<div class="col-xs-10 col-xs-offset-1 col-md-7 col-md-offset-0 col-lg-8 col-lg-offset-0" id="left-side">
    <div class="row" id="user-info">
        <div class="col-xs-5 col-lg-6">
            <a href="#" class="nav-logo-wrap reload-main">
                <img class="nav-logo-img" src="/logo13.png">
            </a>
        </div>
        <div class="col-xs-7 col-lg-6">
            <div class="row">
                <div class="col-xs-9 user-name">
                    <span><%= user.fullName() %></span>
                    <small>
                        <%= user.escape('email') %>
                    </small>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-std sign-out-link pull-right">Sign out</button>
                </div>
            </div>
        </div>
    </div>
    <div id="main" class="row">
    </div>
</div>
<div class="col-xs-10 col-xs-offset-1 col-md-5 col-lg-4 col-md-offset-0 col-lg-offset-0 group" id="right-side">
    <div class="row">
        <div class="col-xs-12" id="trending">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Trending <small>last 24 hours</small></h3>
                    <div id="trending-polls">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" id="new-poll">
        </div>
    </div>
</div>
