<div class="row">
  <div class="col-xs-12 col-md-4 col-lg-4">
    <div class="row">
      <div class="col-xs-12" id="new-poll">
      </div>
      <div class="col-xs-12" id="social-poll">
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8 col-lg-8">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-9" id="main">
        <h1>header</h1>
      </div>

      <div class="col-xs-6 col-md-6 col-lg-3" id="trending">
        <h3>Trending</h3>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-3" id="user-info">
        <div>
          <img class="profile-img img-responsive" src="<%= user.get('profile_img') %>">
        </div>
        <div>
          <h4>
            <%= user.fullName() %>
          </h4>
          <h5>
            <%= user.escape('email') %>
          </h5>
        </div>
      </div>

    </div>
  </div>
</div>
