<div class="row">
  <div class="col-sm-12 col-lg-6">
    <div class="row clearfix">
      <div class="col-sm-6 col-lg-3">
        <%= user.polls().length %> Polls
      </div>
      <div class="col-sm-6 col-lg-3">
        <%= user.questions().length %> Questions
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-sm-6 col-lg-3">
        <%= user.answers().length %> Answers
      </div>
      <div class="col-sm-6 col-lg-3">
        <%= user.responses().length %> Responses
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12 col-lg-6" id="user-profile">
</div>
<div class="col-sm-12 col-lg-6" id="user-polls">
</div>
<div class="col-sm-12 col-lg-6" id="new-poll-form">
</div>
