<div class="row">
  <div class="col-xs-12 col-lg-4">
    <div id="user-info">
      <img src="<%= user.get('profile_img') %>">
      <h4>
        <%= user.fullName() %>
      </h4>
      <h5>
        <%= user.escape('email') %>
      </h5>
    </div>
    <div id="new-poll">
    </div>
    <div id="question-preview"></div>
  </div>
  <div class="col-xs-12 col-lg-8">
    <div id="polls">
    </div>
  </div>
</div>
