<div class="col-xs-6 col-lg-3 clearfix">
  <div class="panel">
    <%= user.polls().length %> Polls
  </div>
</div>
<div class="col-xs-6 col-lg-3 clearfix">
  <div class="panel">
    <%= user.questions().length %> Questions
  </div>
</div>
<div class="col-xs-6 col-lg-3 clearfix">
  <div class="panel">
    <%= user.answers().length %> Answers
  </div>
</div>
<div class="col-xs-6 col-lg-3 clearfix">
  <div class="panel">
    <%= user.responses().length %> Responses
  </div>
</div>



<div class="col-xs-12 col-lg-6 clearfix" id="user-profile">
</div>

<div class="col-xs-12 col-lg-6 clearfix" id="user-polls">
</div>
<div class="col-xs-12 col-lg-6 clearfix" id="new-poll-form">

</div>
