<div class="grid grid-pad">
  <div class="col-1-4 mobile-col-1-2">
    <%= user.polls().length %> Polls
  </div>
  <div class="col-1-4 mobile-col-1-2">
    <%= user.questions().length %> Questions
  </div>
  <div class="col-1-4 mobile-col-1-2">
    <%= user.answers().length %> Answers
  </div>
  <div class="col-1-4 mobile-col-1-2">
    <%= user.responses().length %> Responses
  </div>
</div>



<div class="col-1-2 mobile-col-1-1" id="user-profile">
</div>
<div class="col-1-2 mobile-col-1-1" id="user-polls">
</div>
<div class="col-1-2 mobile-col-1-1" id="new-poll-form">
</div>
