<% if (invites) { %>
  <div class="clearfix visible-xs-block"></div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">Invites</h4>
    </div>
    <ul class="list-group">
      <% invites.forEach(function(invite) { %>
        <li class="list-group-item">
          <p class="list-group-item-text">from
            <%= invite.get('user').fullName() %> to participate in "
              <%= invite.get('poll').escape('title') %>"</p>
        </li>
        <% }); %>
    </ul>
  </div>
  <% }; %>
