<div class="container" id="wrapper">

  <div id="nav"></div>
  <div id="root"></div>
</div>

<div id="footer" class="container">
  <div class="row">
    <div class="col-xs-6 copyright">
      <span>&copy; 2015 Pollrbear</span>
    </div>
    <div class="col-xs-6 footer-logo">

    </div>

  </div>

</div>

<script>
$(document).ready(function () {
  PollrBear.initialize();
});
</script>
