<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tr>
      <thead>
        <th>Response</th>
        <th>By</th>
        <th>Created at</th>
      </thead>
    </tr>
    <% responses.forEach(function(response) { %>
    <tr>
      <td>
        <a class="show-response" href="#" data-id="<%= response.id %>"><%= response.escape('text') %></a>
      </td>
      <td><%= response.escape('user') %>
      </td>
      <td>
        <%= response.escape('created_at') %>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
