<form class="new-question-form">
  <div class="form-group">
    <label>Question:</label>
    <input name="question[text]" type="text" class="form-control" placeholder="Question">
  </div>

  <div class="form-group">
    <label class="radio-inline">
      <input type="radio" name="question[chart]" value="1" checked=""> <i class="fa fa-3x fa-bar-chart"></i>
    </label>
    <label class="radio-inline">
      <input type="radio" name="question[chart]" value="2"> <i class="fa fa-3x fa-area-chart"></i>
    </label>
    <label class="radio-inline">
      <input type="radio" name="question[chart]" value="3"> <i class="fa fa-3x fa-pie-chart"></i>
    </label>
    <label class="radio-inline">
      <input type="radio" name="question[chart]" value="4"> <i class="fa fa-3x fa-line-chart"></i>
    </label>
  </div>
  <div class="form-group">
    <span class="pull-right">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary submit-question-data">Next</button>
    </span>
  </div>
</form>
