<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <tr>
      <thead>
        <th>Question</th>
        <th>text</th>
        <th>Created at</th>
      </thead>
    </tr>
    <% questions.forEach(function(question) { %>
    <tr>
      <td>
        <a class="show-question" href="#" data-id="<%= question.id %>"><%= question.escape('text') %></a>
      </td>
      <td>
        <%= question.escape('chart_type') %>
      </td>
      <td>
        <%= question.escape('created_at') %>
      </td>
    </tr>
    <% }); %>
  </table>
</div>
<div class="question">
