<div class="panel panel-default">
  <div class="panel-body">
    <h4 class="heading-a">
      <%= poll.escape('title') %>
    </h4>
  </div>
  <ul class="list-group poll-questions">
  </ul>
  <div class="panel-body">
    <button type="button" class="visitor-submit-form btn btn-default pull-right" data-poll-id="<%= poll.id %>">Submit</button>
    <button class="btn btn-default show-results">Results</button>
  </div>
</div>
