<button type="button" class="btn btn-default paginate-back">Back</button>
<button type="button" class="btn btn-default paginate-next">Next</button>
<h2><%= poll.escape("title") %></h2>
<h3><%= poll.escape("text") %></h3>

<div id="questions-idx"></div>
