<h5>
  <%= question.escape("text") %>
</h5>
<div class="answers" data-question-id="<%= question.id %>"></div>
<div data-question-id="<%= question.id %>">
  <div class="canvas-holder">
    <canvas class="chart" data-question-id="<%= question.id %>" width="300" height="300"></canvas>
  </div>
</div>
