body {
  padding-bottom: 70px;
  padding-top: 70px;
}
* {
  transition: all 0.3s ease;
}
.collapsed {
  display: none !important;
}

#footer-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #555;
}
#footer-content {
  position: fixed;
  bottom: 40px;
  width: 100%;
  height: 300px;
  overflow: auto;
  background: #fff;
  border-top: #ababab;
}
.footer {
  &-baseline {
    height: 45px !important;
  }
  &-mid {
    height: 240px !important;
  }
  &-full {
    height: 50% !important;
  }
  &-inner {
    height: auto;
    overflow: hidden;
    float: left;
    width: 50%;
  }
}
