$brand-primary: rgb(166, 216, 222);
$brand-success: rgb(249, 241, 181);
$brand-info: rgb(221, 218, 214);
$brand-warning: rgb(174, 156, 150);
$brand-danger: rgb(238, 238, 238);
$body-bg: rgb(241, 240, 236);
$text-color: rgb(147, 147, 147);
* {
  transition: all .5s ease !important;
}

html,
body {

}
input, textarea {
  box-shadow: none !important;
  border: none !important;
}
#new-poll {
  #poll-form {
    #poll-text {
      font-size: 18px;
      &:focus {
        border: none;
      }
    }
  }
}

.panel-heading,
.panel-title {
  font-size: 20px;
  color: rgb(177,177,177);
  font-family: "josefin sans";
  text-transform: uppercase;
}
.panel {
  background: rgb(251,250,245);
  box-shadow: -10px 15px 0 0 rgba(20,20,20,0.1);
  border: 0;
  &-heading {
  }
}
.navbar {
  background: transparent;
}
a {
  text-decoration: none;
  &:active {
    &:hover {
      text-decoration: none;
    }
  }
  &:hover {
    &:active {
      text-decoration: none;
    }
  }
}
.btn {
  &-chart {

  }
  &-select-poll {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid $brand-primary;
    &:hover {
      background: $brand-primary;
      color: #fff;
    }
  }
  &-checked {
    color: $text-color;
    background: $brand-success;
    &:active,
    &:hover,
    &:focus {
      background: $brand-success;
    }
    &:hover {
      &:active {
        background: #eee;
      }
    }
    &:active {
      &:hover {
        background: #eee;
      }
    }
  }
}

.testing {
  background: red !important;
}

.user-data {
  font-size: 13px;
  letter-spacing: -.5px;
  display: block;
  color: #999;
  width: 100%;
  padding: 4px;
  text-transform: uppercase;
  & > span {
    width: 28px;
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    text-align: center;
    background: $brand-success;
    color: white;
  }
}
.profile-img {
  padding: 20px;
}
.profile-img-wrap {

}
.form-collapsed {
  transition: 0.7s ease all;
  height: 0 !important;
  overflow: hidden !important;
}
.answer-select-wrap {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  .btn-answer-select {
    display: inline-block;
    width: 100%;
    background: none transparent;
    border: 2px solid $brand-primary;
    padding: 10px;
    font-size: 17px;
  }
}
.poll-table-heading {
  padding: 20px;
}
.answer-select {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.answer-item {
  display: block;
  width: 100%;
  margin: 10px 0;
  text-align: center;
  padding: 10px;
}
.remove-answer {
  border: 2px solid $brand-primary;
  font-size: 12px;
  padding: 5px 15px;
  &:hover {
    background: #ddd;
    color: #fff;
  }
}
.circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border: 1px solid #ddd;
}
#canvas-holder {
  text-align: center;
  width: 70%;
  height: auto;
  margin: 0 auto;
  position: relative;
  
  background: $brand-primary;
}

#canvas-wrap {
  text-align: center;
  display: block;
}

#chart {
  width: 70%;
  height: auto;
  padding: 25px;
}
