@import url(http://fonts.googleapis.com/css?family=Lato:400,100,300,100italic,300italic,400italic,700,900|Open+Sans+Condensed:300,700,300italic|Archivo+Narrow:400,700|Quicksand:400,300,700);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$font-body: "Lato", "Helvetica Neue", "Proxima Nova", "Open Sans", "Source Sans Pro", sans-serif;
$font-heading: "Quicksand", "Lato";
$font-subheading: "Open Sans Condensed", "Roboto Condensed", "Oswald", sans-serif;
$blue: #2ab7ca;
$blue-hover: #66edff;
$yellow: #fed766;
$red: rgb(254, 74, 73);
$almost-white: rgb(249, 249, 249);
$almost-black: rgb(30,30,30);
$lighter-grey: rgb(240,240,240);
$light-grey: rgb(200,200,200);
$grey: rgb(188,188,188);
$mid-grey: rgb(132, 132, 132);
$dark-grey: rgb(107, 107, 107);
$base-grey: rgb(77, 77, 77);
$bgcolor: rgb(230,230,230);
$white: rgb(255,255,255);
$black: rgb(255,255,255);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
body,
html {
  background: $bgcolor;
  font-family: $font-body;
  font-weight: 300;
  font-size: 15px;
}
input,
textarea {
  box-shadow: none !important;
  transition: all 0.15s ease-in-out;
}
a {
  text-decoration: none;
  color: $blue;
  transition: color 0.15s linear;
  &:link {
    color: $blue;
  }
  &:active {
    color: $blue;
  }
  &:hover {
    color: $blue-hover;
  }
  &:visited {
    color: $blue;
  }
  img {
    border: none;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
button.btn {
  background: transparent !important;
}
.btn {
  transition: border-color 0.15s linear;
  transition: color 0.15s ease;
  padding: 10px 20px;
  &:focus {
    outline: none;
  }
  &-std,
  a.btn-std {
    border: 1px solid $light-grey;
    color: $mid-grey;
    &:hover {
      border: 1px solid $red;
      color: $dark-grey;
    }
  }
  &-std-inverse,
  a.btn-std-inverse {
    border: 1px solid $lighter-grey;
    color: $almost-white;
    &:hover {
      border: 1px solid $red;
      color: $white;
    }
  }
  &-uniq,
  &-uniq-inverse,
  a.btn-uniq,
  a.btn-uniq-inverse {
    padding: 10px 30px;
  }
  &-uniq,
  a.btn-uniq {
    border: 1px solid $blue;
    color: $mid-grey;
    &:hover {
      border: 1px solid $yellow;
      color: $dark-grey;
    }
  }
  &-uniq-inverse,
  a.btn-uniq-inverse {
    border: 1px solid $blue;
    color: $almost-white;
    &:hover {
      border: 1px solid $yellow;
      color: $white;
    }
  }
  &-selector,
  &-selector:active,
  &-selector:focus {
    margin: 0 12px 12px 0;
    border: 1px solid $lighter-grey;
    color: $grey;
    &:hover {
      border: 1px solid $almost-white;
      color: $almost-white;
    }
  }
  &-selected,
  &-selected:active,
  &-selected:focus {
    border: 1px solid $yellow;
    color: $white;
    &:hover {
      border: 1px solid lighten($red,10%);
      color: lighten($yellow, 10%);
    }
  }
  &-circle {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    border: 1px solid $light-grey;
    color: $mid-grey;
    &:hover {
      border: 1px solid $red;
      color: $dark-grey;
    }
  }
  &-circle-inverse {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid $lighter-grey;
    color: $light-grey;
    &:hover {
      border: 1px solid $red;
      color: lighten($red, 10%);
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.group:after {
  clear: both;
  content: "";
  display: block;
}
.form-collapsed {
  height: 0 !important;
  overflow: hidden !important;
  visibility: hidden;
  opacity: 0;
  padding: 0 !important;
}
.errors {
  display: block;
  width: 100%;
  background: $blue;
  color: $white;
}
.errors-dismiss {
  color: $white;
  display: block;
  padding: 10px;
  float: right;
  i {
    &:before {
      color: $white;
    }
    &:hover:before {
      color: lighten($red, 10%);
    }
  }
}
.error-text {
  padding: 10px;
  font-weight: bold;
}
.errors-flash {
  padding: 10px;
  float: left;
  border: $white;
}
.placeholder {
  opacity: 0;
}
.profile-img {
  padding: 20px;
  width: 240px;
  height: auto;
}
h3,
h4,
h5 {
  .heading,
  .heading-inverse {
    font-weight: 100;
    font-family: $font-heading;
  }
}
h1,
h2 {
  .heading,
  .heading-inverse {
    font-family: $font-heading;
    font-weight: 100;
  }
}
.heading {
  color: $mid-grey;
}
.heading-inverse {
  color: $lighter-grey;
}
.section-heading {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-bottom: 24px;
}
.spacer {
  display: block;
  clear: both;
  visibility: hidden;
  width: 100%;
  height: 24px;
}
.remove-answer {
  color: lighten($red, 10%);
  &:hover {
    color: $red;
  }
}
.visit-created-poll {
  color: $yellow;
  &:hover {
    color: lighten($yellow, 10%);
  }
}
.allow-realign {
  position: absolute;
  background: transparent;
  overflow: visible;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  h2 {
    display: block;
    width: 200px;
    height: 160px;
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translateX(-100px);
    color: $white;
    i {
      color: $white;
    }
  }
}
.overlay-collapsed {
  display: none !important;
  bottom: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
.poll-result-heading {
  word-wrap: break-word;
}
.poll-result-left {
  border-right: 1px solid $grey;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
#left-side {
  margin-bottom: 100px;
  color: $base-grey;
  background: $lighter-grey;
}
#right-side {
  margin-bottom: 100px;
  #new-poll {
    background: rgb(88, 88, 88);
  }
  #user-info {
    padding-top: 60px;
    background: $light-grey;
  }
}
#wrapper {
  box-shadow: -2px 2px 2px 3px rgba(0,0,0,.1);
  background: $white;
  #root {

  }
}
#nav {
  .navbar {
    height: 120px;
    margin-bottom: 0;
  }
  .nav-link {
    padding: 10px 30px;
    font-size: 14px;
    font-family: $font-body;
  }
  .logo-nav {
    height: 90px;
    width: auto;
  }
}
#poll-show {
  position: relative;
  background: $blue;
  min-height: 720px;
}
#poll-text {
  font-family: $font-body;
  color: $white;
  margin-bottom: 12px;
  border: 1px solid $lighter-grey;
  font-size: 16px;
  background: transparent;
  &:focus {
    border: 1px solid $yellow;
    background: rgba(0,0,0,.1);
  }
  &:hover {
    border: 1px solid $almost-white;
  }
}
#answers,
#results {
  background: $blue;
  padding: 5% 20px;
}
#canvas-holder {

}
#canvas-wrap {
  width: 100%;
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}
#splash-logo-right {
  width: 240px;
  height: auto;
}
#poll-form-wrap {
  margin-bottom: 60px;
  #poll-text {

  }
}
#multiple-choice-form {
  input {
    font-family: $font-body;
    color: $white;
    border: 1px solid $lighter-grey;
    font-size: 14px;
    background: transparent;
    &:focus {
      border: 1px solid $yellow;
      background: rgba(0,0,0,.1);
    }
    &:hover {
      border: 1px solid $almost-white;
    }
  }
  .add-answer-wrap {
    position: relative;
  }
  .add-answer {
    position: absolute;
    top: 30px;
    right: 20px;
    i {
      width: 50px;
      height: 50px;
      color: $red;

      &:after {
        width: 50px;
        height: 50px;
        color: $red;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.poll-wrap {
  width: 100%;
  display: block;
  height: 80px;
  position: relative;
  margin-bottom: 10px;
  .poll-start {
    width: 5%;
    display: block;
    height: 80px;
    float: left;
    content: "";
  }
  .poll-left {
    width: 10%;
    display: block;
    height: 80px;
    float: left;
    .format-mc,
    .format-oe,
    .poll-votes {
      display: block;
      width: 100%;
      height: 37px;
      text-align: center;
      font-family: $font-subheading;
      text-transform: uppercase;
    }
    .poll-info {
      .format-mc,
      .format-oe {
        font-size: 12px;
      }
    }
    .poll-votes-wrap {
      .poll-votes {
        font-size: 14px;
        padding-top: 15px;
      }
    }
  }
  .poll-right {
    display: block;
    height: 80px;
    width: 75%;
    float: left;
    .poll-text {
      padding: 3px 0 0 10px;
      font-size: 15px;
      height: 50px;
      display: block;
      width: 100%;
      overflow: hidden;
    }
    .poll-user {
      padding: 3px 0 0 10px;
      font-size: 10px;
      height: 30px;
      display: block;
      width: 100%;
    }
  }
  .poll-end {
    display: block;
    height: 80px;
    width: 10%;
    float: left;
    a {
      height: 80px;
      width: 100%;
      display: block;
      i {
        display: block;
        height: 80px;
        line-height: 80px;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        transition: all 0.3s linear;
      }
      &:hover {
        i,
        i:after,
        i:before {
          color: $red;
        }
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// selection view
.btn-answer-select {
  display: block;
  margin-bottom: 12px;
  width: 100%;
  padding: 0 !important;
  word-wrap: normal;
}
.answer-text {
  font-size: 16px;
  display: block;
  height: 100%;
  width: 90%;
  padding: 16px;
  float: left;
}
.answer-label {
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 16px;
  font-size: 16px;
  width: 10%;
  height: 100%;
  float: left;
  border-right: 1px solid $white;
  color: $white;
}

/// form view
.answer-result {
  display: block;
  width: 100%;
  height: auto;
  font-size: 14px;
  margin-bottom: 10px;
  color: $white;
  strong {
    margin-left: 6px;
  }
}
.answer-item {
  display: block;
  width: 100%;
  margin: 10px 0;
  position: relative;
  & > span {
    padding: 10px;
    float: left;
    display: block;
    width: 80%;
  }
  .remove-answer {
    width: 20%;
    display: block;
    padding: 10px;
    float: right;
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.select-page-wrap-top {
  border-bottom: 1px solid rgb(237, 237, 237);
}
.select-page-wrap-bottom {
  border-top: 1px solid rgb(237, 237, 237);
}
.select-page-wrap {
  display: block;
  padding: 8px;
  .select-page,
  .next-page,
  .prev-page {
    font-size: 14px;
    display: inline;
    padding-left: 5px;
    color: rgb(117, 117, 117);
    &:hover {
      color: $red;
    }
  }
}
