* {
  font-family: 'helvetica neue';
}
body,
html {
}
body {
  padding-top: 70px;
}
textarea {
  border: 1px 0px solid #ddd !important;
  box-shadow: none !important;
}
.answer-select {
  margin-bottom: 20px;
  border-radius: 50px;
}

.form-collapsed {
  transition: .7s ease all;
  height: 0px !important;
  overflow: hidden !important;
}

.btn-checked {
  background: #eee;
  &:active, &:hover, &:focus {
    background: #eee !important;
  }
  &:hover {
    &:active {
      background: #eee;
    }
  }
  &:active {
    &:hover {
      background: #eee;
    }
  }
}
canvas {
  z-index: 9999 !important;
}
.circle {
	border-radius: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
	width: 80px;
	height: 80px;
  border: 1px solid #ddd;
}
#canvas-holder {
  width: 100%;
  height: auto;
  text-align: center;
}

#chart {
  width: 100%;
  height: auto;
}
