$light: rgb(253,241,204);
$light-green: rgb(198,214,184);
$brown: rgb(152,127,105);
$orange: rgb(227,173,64);
$yellow: rgb(252,208,54);
$red: rgb(217,61,74);
$bright-yellow: rgb(255,193,0);
$grey: rgb(146,146,146);
$blue: rgb(13,179,217);
$bright-orange: rgb(242,148,34);
$bright-blue: rgb(3,103,166);
