<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid" id="#footer">
    <div id="footer-left" class="footer-left-hide">
    </div>

    <div id="footer-right" class="footer-right-show">

    </div>
  </div>
</nav>
